<footer class="footer">
  <div class="row row-no-margin u-margin-top-small">
    <div class="col-2-of-18-thinner u-margin-left-xsmall left-text">
      <img src="images/pflag-national-logo.png" alt="" class="footer__local-logo" />
    </div>

    <div class="col-2-of-18-wider u-margin-top-smallish">
      <a routerLink="/donate" routerLinkActive="active" class="btn btn-donate btn-center">DONATE</a>
    </div>

    <div class="col-4-of-18">
      <ul class="footer__body-column-link-list">
        <li class="footer__body-column-link-list-item"><a href="/index.html" class="footer__body-column-link-list-item-link">Home</a>
        </li>
        <li class="footer__body-column-link-list-item"><a href="/about/index.html" class="footer__body-column-link-list-item-link">About
            PFLAG</a>
        </li>
        <li class="footer__body-column-link-list-item"><a href="/support/index.html" class="footer__body-column-link-list-item-link">Support/Safe
            Spaces</a></li>
        <li class="footer__body-column-link-list-item"><a href="/mailing-list/index.html" class="footer__body-column-link-list-item-link">Mailing
            List</a></li>
        <li class="footer__body-column-link-list-item"><a href="/contact-us/index.html" class="footer__body-column-link-list-item-link">Contact</a></li>
      </ul>
    </div>

    <div class="col-3-of-18-thinner">
      <ul class="footer__body-column-link-list">
        <li class="footer__body-column-link-list-item"><a href="/calendar/index.html" class="footer__body-column-link-list-item-link">Calendar</a></li>
        <li class="footer__body-column-link-list-item"><a href="/events/index.html" class="footer__body-column-link-list-item-link">Events</a></li>
        <li class="footer__body-column-link-list-item"><a href="/media/index.html" class="footer__body-column-link-list-item-link">Media</a></li>
        <li class="footer__body-column-link-list-item"><a href="/volunteer/index.html" class="footer__body-column-link-list-item-link">Volunteer</a></li>
        <li class="footer__body-column-link-list-item"><a href="/store/index.html" class="footer__body-column-link-list-item-link">Store</a></li>
      </ul>
    </div>
    <div class="col-4-of-18">
      <div class="footer__address-lines">
        <div class="footer__address-lines--name">PFLAG Rockland</div>
        <div class="footer__address-lines--street">P.O. Box 505</div>
        <div class="footer__address-lines--city-state">Nyack, NY</div>
        <div class="footer__address-lines--phone-number">(845) 353-6300</div>
      </div>
    </div>
    <div class="col-3-of-18">
      <img src="images/pflag-rockland-logo.png" alt="" class="footer__local-logo" />
    </div>
  </div>
</footer>
