<!-- Highlight Box -->
<div class="row u-margin-btm-small">
  <div class="col-3-of-18">&nbsp;</div>
  <div class="col-12-of-18 center-text">
    <div class="highlight-box highlight-box">
      <div class="highlight-box__text">
        We are Parents, Families, Friends, and Allies working together to make a better future for
        LGBTQIA
        youth and adults.
        <br />Because together, we are stronger.</div>
    </div>
  </div>
  <div class="col-3-of-18-thinner">&nbsp;</div>

</div>

<!-- Highlight Block -->
<div class="row u-margin-btm-small">
  <div class="col-3-of-18">&nbsp;</div>
  <div class="col-12-of-18 center-text">
    <div class="highlight-block">
      <div class="highlight-block__headline">We do more than sit in circles</div>
      <div class="highlight-block__text">Through peer-to-peer support, educating people on the issues,
        and
        advocating for inclusive policies and laws, we keep Rockland's LGBTQIA folks, families, and
        friends strong.</div>
    </div>
  </div>
  <div class="col-3-of-18-thinner">&nbsp;</div>
</div>
