<div class="row">
  <h1 class="landing-page-title center-text">About PFLAG</h1>
</div>

<div class="row u-margin-btm-small">
  <div class="col-4-of-18">
    <div class="inset-nav">
      <div class="inset-nav__nav-item">
        <a routerLink="/about" fragment="pflag-meaning" routerLinkActive="active" class="inset-nav__link" smoothScroll>PFLAG
          Meaning</a>
      </div>
      <div class="inset-nav__nav-item">
        <a routerLink="/about" fragment="pflag-origins" routerLinkActive="active" class="inset-nav__link" smoothScroll>PFLAG
          Origins</a>
      </div>
      <div class="inset-nav__nav-item"><a routerLink="/about" fragment="pflag-impact" routerLinkActive="active" class="inset-nav__link" smoothScroll>PFLAG Impact</a>
      </div>
      <div class="inset-nav__nav-item"><a routerLink="/about" fragment="pflag-success" routerLinkActive="active" class="inset-nav__link" smoothScroll>PFLAG Success</a>
      </div>
      <div class="inset-nav__nav-item"><a routerLink="/about" fragment="pflag-board" routerLinkActive="active" class="inset-nav__link" smoothScroll>PFLAG Board</a>
      </div>
      <div class="inset-nav__nav-item"><a routerLink="/about" fragment="pflag-faq" routerLinkActive="active" class="inset-nav__link" smoothScroll>PFLAG FAQ</a>
      </div>
    </div>
  </div>
  <div class="col-1-of-18 ">&nbsp;</div>
  <div class="col-11-of-18 ">
    <div class="highlight-text">
      &ldquo;Equality is the Soul of Liberty; there is, in fact, no liberty without it.&rdquo;
      <div class="highlight-attribution">Frances Wright</div>
    </div>
  </div>
</div>

<div class="row">
  <section class="content-section">
    <div class="content-section__title" id="pflag-meaning">PFLAG Meaning</div>
    <div class="content-section__text">When PFLAG was initially
      created
      in the 1970s it meant Parents and Friends of Lesbians And Gays. PFLAG is the extended family of the LGBTQIA community. We are
      made
      up
      of LGBTQIA individuals, family and allies. Together we are stronger.
      <a routerLink="/about" fragment="top" routerLinkActive="active" class="content-section__top-link" smoothScroll>top</a></div>
  </section>

  <section class="content-section">
    <div class="content-section__title" id="pflag-origins">PFLAG Origins</div>
    <div class="content-section__text">When PFLAG founder Jeanne Manford marched with her son Morty in
      the 1972 Christopher Street Liberation Day March, she was overwhelmed by the number of weeping,
      rejected LGBTQ young people who embraced her along the route, each of them begging her to speak
      with their own parents and families. Jeanne knew instinctively that the transformation of
      family values and practices was essential to healthy LGBTQ life, so she and a committed group
      of parents (including her husband, Jules) and LGBTQ activists (including her son, Morty) began
      the very first support group for parents of LGBTQ people in NYC. In the basement of the Church
      of the Village on March 11, 1973, PFLAG was born!<a routerLink="/about" fragment="top" routerLinkActive="active" class="content-section__top-link" smoothScroll>top</a></div>
  </section>

  <pf-nfp></pf-nfp>

  <section class="content-section">
    <div class="content-section__title" id="pflag-impact">PFLAG Impact</div>
    <div class="content-section__text">
      <img src="images/pflag-impact.png" alt="" class="pflag-impact">
    </div>
  </section>
  <section class="content-section">
    <div class="content-section__title" id="pflag-success">PFLAG Success</div>
    <div class="content-section__text">
      <p>How did PFLAG create such massive change in family values and LGBTQIA life in less than half
        a
        century?</p>

      <p class="highlight">One interaction at a time. One family at a time. One chapter at a time.</p>

      <p>It is impossible to overstate the impact of one parent or family member listening to,
        seeking help from, and offering love and acceptance to another. In a culture steeped in
        denial about massive inequalities and the depression and hopelessness they engender, PFLAG
        creates tiny moments of truth and hope among people whose love for their LGBTQIA family
        members and friends sometimes comes into conflict with established authorities in their
        lives—whether it be religious institutions, employers, or government actors including
        police, courts, or family services, educators, coaches, doctors, or extended family.</p>

      <p>These moments of honesty, grief, acceptance, and love propel PFLAGers through seemingly
        impossible dilemmas and family fractures.</p>

      <p>We cannot estimate the number of LGBTQIA lives that have been saved through these exchanges
        in
        PFLAG meetings; we cannot count the legions of community leaders that have sprung into
        action. But just as Jeanne and her family knew 45 years ago, we know that these number in
        the tens of thousands. We know that seemingly “small” interactions catalyze monumental
        changes in our families, lives, communities, and institutions over time.</p>
      <a routerLink="/about" fragment="top" routerLinkActive="active" class="content-section__top-link" smoothScroll>top</a>
    </div>
  </section>

  <pf-nfp></pf-nfp>

  <section class="content-section">
    <div class="content-section__title" id="pflag-board">PFLAG Board</div>
    <div class="content-section__text">
      <ul class="content-section__list">
        <li class="content-section__list-item">President &ndash; Chris Barry</li>
        <li class="content-section__list-item">Vice President &ndash; Scott Bosley</li>
        <li class="content-section__list-item">Secretary &ndash; Beth Robinson</li>
        <li class="content-section__list-item">Treasurer &ndash; Ellen Woods</li>
        <li class="content-section__list-item">Activities Coordinator &ndash; Kim Barry</li>
      </ul>
      <a routerLink="/about" fragment="top" routerLinkActive="active" class="content-section__top-link" smoothScroll>top</a>
    </div>
  </section>

  <section class="content-section">
    <div class="content-section__title" id="pflag-faq">PFLAG F A Q </div>
    <div class="content-section__text">
      <div class="faq__question">What support groups are available?</div>
      <div class="faq__answer">
        <p>We have a PFLAG group that meets the first Wednesday of every month at 8- 9:30 PM.</p>
        <p> There is
          a Trans Parent support group that meets on the 3rd Wednesday of every Month from 7:30-9
          PM. </p>
        <p>You are free to discuss any issues or concerns. All meetings are confidential.</p>
        <p>Rockland Pride also has <a href="http://rocklandpridecenter.org/services/support-group" target="_blank" class="content-section__text-link">support groups</a>.</p>
      </div>

      <!--
                <div class="faq__question">Who can I call if I need help immediately?</div>
                <div class="faq__answer">
                    <p>We have a PFLAG group that meets the first Monday of every month at 8- 9:30 PM.</p>
                    <p> There is
                        a Trans Parent support group that meets on the 3rd Monday of every Month from 7:30-9
                        PM. </p>
                    <p>You are free to discuss any issues or concerns. All meetings are confidential.</p>
                    <p>Rockland Pride also has <a href="http://rocklandpridecenter.org/services/support-group"
                            target="_blank" class="content-section__text-link">support groups</a>.</p>
                </div>
-->
      <!--
                <div class="faq__question">Who can I call if my child needs help or support?</div>
                <div class="faq__answer">
                    <p>We have a PFLAG group that meets the first Monday of every month at 8- 9:30 PM.</p>
                    <p> There is
                        a Trans Parent support group that meets on the 3rd Monday of every Month from 7:30-9
                        PM. </p>
                    <p>You are free to discuss any issues or concerns. All meetings are confidential.</p>
                    <p>Rockland Pride also has <a href="http://rocklandpridecenter.org/services/support-group"
                            target="_blank" class="content-section__text-link">support groups</a>.</p>
                </div>

            -->
      <a routerLink="/about" fragment="top" routerLinkActive="active" class="content-section__top-link" smoothScroll>top</a>
    </div>
  </section>




</div>
