<!-- About Block -->
<div class="row u-side-margins-small u-margin-btm-small">
  <div class="col-6-of-18">
    <div class="about-block">
      <img src="images/we-educate.png" alt="We Educate" class="about-block__image">
      <div class="about-block__title">We Educate</div>
      <div class="about-block__text">
        <p>PFLAG love and acceptance saves LGBTQIA lives.</p>
        <p>PFLAG families grow resilient and empowered LGBTQIA children.</p>
        <p>PFLAG groups heal and re-connect LGBTQIA families.</p>
        <p>PFLAG passion powers life-long parent, family and allied leaders in the struggle for
          justice and equality.</p>
      </div>
    </div>
  </div>
  <div class="col-6-of-18">
    <div class="about-block">
      <img src="images/we-advocate.png" alt="We Advocate" class="about-block__image">
      <div class="about-block__title">We Advocate</div>
      <div class="about-block__text">Uniting people who are lesbian, gay, bisexual, transgender,
        queer or questioning, intersex and asexual (LGBTQIA) with families, friends, and allies,
        PFLAG is committed to advancing equality through its mission of support, education, and
        advocacy.</div>
    </div>
  </div>
  <div class="col-6-of-18">
    <div class="about-block">
      <img src="images/we-confidential-support.png" alt="We Confidentially Support" class="about-block__image">
      <div class="about-block__title">We Confidentially Support</div>
      <div class="about-block__text">Our mission is to build on a foundation of loving families
        united with LGBTQIA people and allies who support one another, and to educate ourselves and
        our communities to speak up as advocates until all hearts and minds respect, value and
        affirm LGBTQIA people.</div>
    </div>
  </div>
</div>
