<div class="row">
  <h1 class="landing-page-title center-text">Donate to Rockland PFLAG</h1>
</div>

<div class="row u-margin-top-medium-plus">
  <section class="content-section">
    <div class="content-section__title">PFLAG perseveres&hellip;</div>
    <div class="content-section__text">Please give generously to help ensure that LGBTQIA people get
      the family and ally support they need to work, play, pray, learn, and live fairly, safely,
      and happily.</div>
  </section>
  <div class="coming-soon">
    Donate using PayPal...
    <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
      <input type="hidden" name="cmd" value="_s-xclick">
      <input type="hidden" name="hosted_button_id" value="QJYUVTQHQV58A">
      <input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_donate_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
      <img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
    </form>
  </div>
  <div class="coming-soon">or you can mail us a check<br />for a donation at:</div>
  <div class="footer__address-lines center-text move-up-medium">
    <div class="footer__address-lines--name">PFLAG Rockland</div>
    <div class="footer__address-lines--street">P.O. Box 505</div>
    <div class="footer__address-lines--city-state">Nyack, NY</div>
    <div class="footer__address-lines--phone-number">(845) 353-6300</div>
  </div>
  <br /><br />
</div>
