.top-stripe {
  min-height: 15px;
  width: 100%;
  /* background-attachment: fixed;
  background-position: top center;
  background-repeat: no-repeat;
  background-image: url(../../../../images/color-stripe.png); */
}

.color-stripe-divider {
  width: 100%;
}
