// COLORS

$red: #fd2712;
$orange: #ff7802;
$yellow: #fef206;
$green: #0db14b;
$light-blue: #02ceff;
$white: #ffe;
$pink: #fecefe;
$medium-blue: #0278fe;
$dark-blue: #2e3191;
$purple: #bd02ff;
$brown: #835c33;
$black: #010101;

$background-grey: #eadfdf;



// GRID
$grid-width: 102.4rem;
$row-margin-standard: 3rem;

// Column Gutters
$gutter-horizontal: 2rem;

// Row Bottom Margin
$gutter-vertical: 2rem;

$a-little-extra: 30px;

$std-border-radius: .4rem;

$small-row-margins: 3rem;
