<div class="row">
  <h1 class="landing-page-title center-text">Support / Safe Spaces</h1>
</div>


<div class="row">
  <div class="col-6-of-18">
    <div class="inset-nav">
      <div class="inset-nav__nav-item">
        <a routerLink="/about" fragment="pflag-meaning" routerLinkActive="active" class="inset-nav__link" smoothScroll>Support</a>
      </div>
      <div class="inset-nav__nav-item">
        <a routerLink="/about" fragment="pflag-meaning" routerLinkActive="active" class="inset-nav__link -indent"
          smoothScroll>Rockland County</a>
      </div>
      <div class="inset-nav__nav-item">
        <a routerLink="/about" fragment="pflag-meaning" routerLinkActive="active" class="inset-nav__link -indent"
          smoothScroll>Hudson
          Valley/Regional</a>
      </div>
      <div class="inset-nav__nav-item">
        <a routerLink="/about" fragment="pflag-meaning" routerLinkActive="active" class="inset-nav__link -indent"
          smoothScroll>National</a>
      </div>
      <!--
                <div class="inset-nav__nav-item">
                    <a routerLink="/about" fragment="places-of-worship" routerLinkActive="active" class="inset-nav__link" smoothScroll>Places of Worship</a>
                </div>

                <div class="inset-nav__nav-item">
                    <a routerLink="/about" fragment="businesses" routerLinkActive="active" class="inset-nav__link" smoothScroll>Businesses</a>
                </div>
        
        -->
    </div>
  </div>
  <div class="col-1-of-18">&nbsp;</div>

  <div class="col-10-of-18">
    <div class="highlight-text">
      <p class="">One interaction at a time.</p>
      <p class="u-margin-top-small">One family at a time.</p>
      <p class="u-margin-top-small">One chapter at a time.</p>
    </div>
  </div>
</div>



<div class="row">
  <section class="content-section">
    <a name="support"></a>
    <div class="content-section__title">Support</div>
    <div class="content-section__text">
      <p>Rockland PFLAG meets the 1st Wednesday of every month from 8-9:30</p>
      <p>Our Transparent group meets the 3rd Wednesday of every
        month from 7:30-9 PM.</p>
      <p>Meeting locations in Rockland County contact <a href="mailto:info@rocklandpflag.org" class="content-section__text-link">info@rocklandpflag.org</a>
        or call us at <span class="u-no-wrap">(845)-353-6300.</span></p>
      <p>The following links provide support as well:</p>
      <div class="content-section__title">Rockland County</div>
      <ul class="content-section__list">
        <li class="content-section__list-item"><a href="http://rocklandpridecenter.org" target="_blank" class="content-section__text-link">Rockland
            Pride Center</a>
          <div class="content-section__list-item-description">The Rockland County Pride Center is a 501(c)(3) LGBTQ
            (Lesbian, Gay, Bisexual, Transgender, and Queer) organization with an anti-racist, social justice mission.
            Our purpose is to support and celebrate the LGBTQ community, challenge stereotypes and practices that
            adversely impact Lesbian, Gay, Bisexual, Transgender, and Queer people, and provide a wide range of
            services to ensure equitable resources and opportunities for all – with no exceptions.</div>
          <a href="http://rocklandpridecenter.org" target="_blank" class="content-section__list-item-site-link">Rockland
            PFLAG Website</a>
        </li>
        <li class="content-section__list-item"><a href="http://www.candlerockland.org" target="_blank" class="content-section__text-link">Candle
            Rockland</a>
          <div class="content-section__list-item-description">Community Awareness Network For A Drug-Free Life And
            Environment, Inc. (CANDLE) was founded as a non-profit organization in 1982. Its mission is to prevent
            substance abuse and violence among youth. CANDLE's goal is to improve the health and climate of our schools
            and our communities by providing prevention education and resistance strategies to youth and their adult
            allies, and support programs for young people at risk</div>
          <a href="http://www.candlerockland.org" target="_blank" class="content-section__list-item-site-link">Candle
            Rockland Website</a>
        </li>
        <li class="content-section__list-item"><a href="http://www.vcs-inc.org" target="_blank" class="content-section__text-link">VCS</a>
          <div class="content-section__list-item-description">VCS saves lives every day
            by by providing counseling services and mental health treatment with an anti-racist, social justice
            mission.
            Working collaboratively with the community, VCS identifies and fills gaps in services with programs in
            behavioral healthcare, training, and advocacy for those most in need.
            Services available in English, Spanish, Creole, French and Yiddish. VCS is a 501(c)3 non-profit agency.</div>
          <a href="http://www.vcs-inc.org" target="_blank" class="content-section__list-item-site-link">VCS Website</a>

        </li>
        <li class="content-section__list-item"><a href="http://www.mharockland.org" target="_blank" class="content-section__text-link">Mental
            Health Association of Rockland County</a>
          <div class="content-section__list-item-description">At MHA Rockland, we help people living with mental
            illness and/or addiction to embrace life and redefine themselves. We also welcome and support families,
            friends, employers, and colleagues who care about those struggling with these issues. Since opening our
            doors in 1951, we have touched the lives of more than 50,000 Rockland County residents.</div>
          <a href="http://www.mharockland.org" target="_blank" class="content-section__list-item-site-link">Mental
            Health Association of Rockland County Website</a>
        </li>
      </ul>
      <a routerLink="/support" fragment="top" routerLinkActive="active" class="content-section__top-link" smoothScroll>top</a>

      <div class="content-section__title">Hudson Valley / Regional</div>
      <ul class="content-section__list">

        <li class="content-section__list-item"><a href="http://pflagwestchester.org" target="_blank" class="content-section__text-link">PFLAG
            Westchester</a>
          <div class="content-section__list-item-description">We are here to support you and your family on your
            journey
            with your Lesbian, Gay, Bisexual, Transgender, Queer, Questioning family member or friend. Please call us
            if
            you have any questions (914) 468-INFO (4636) or email us at <a href="mailto:info@pflagwestchester.org">info@pflagwestchester.org</a></div>
          <a href="http://pflagwestchester.org" target="_blank" class="content-section__list-item-site-link">PFLAG
            Westchester Website</a>
        </li>



        <li class="content-section__list-item"><a href="https://www.bergenpflag.com" target="_blank" class="content-section__text-link">Bergen
            PFLAG</a>
          <div class="content-section__list-item-description">
            <p>
              Our members are parents, families and friends of LGBT people, and LGBT people themselves. We have been
              through much of what you are now feeling. <span class="text-bold text-purple">We understand.</span></p>
            <p>We have access to literature, support organizations for the LGBT community, etc. We will offer advice,
              guidance and an understanding heart and ear. If you call our helpline/hotline, (201) 503-4470, you may
              get
              an answering machine, but please leave a message and someone will get back to you soon. Meeting schedules
              and a variety of information is available also on this web site and on our <a href="https://www.facebook.com/BergenPFlag/?ref=bookmarks"
                target="_blank" class="text-purple">Facebook page</a>.</p>
          </div>
          <a href="https://www.bergenpflag.com" target="_blank" class="content-section__list-item-site-link">Bergen
            PFLAG
            Website</a>
        </li>

        <li class="content-section__list-item"><a href="http://www.pflagnyc.org" target="_blank" class="content-section__text-link">PFLAG
            New York City</a>
          <div class="content-section__list-item-description">
            <p>PFLAG NYC &mdash; Parents, Families and Friends of Lesbian, Gay, Bisexual and Transgender People &mdash;
              is the founding chapter of PFLAG, the nation&rsquo;s foremost family-based organization committed to the
              civil rights of lesbian, gay, bisexual and transgender (LGBT) people. Launched in New York City in 1973
              by
              mothers and fathers who stood up for their gay children, PFLAG NYC started a national movement that now
              has
              more than 250,000 members and supporters in over 500 chapters throughout the United States.</p>
            <p>PFLAG NYC&rsquo;s mission is to create a better future for lesbian, gay, bisexual, and transgender
              (LGBT)
              youth and adults through a partnership of parents, allies, and LGBT people.</p>
          </div>
          <a href="http://www.pflagnyc.org" target="_blank" class="content-section__list-item-site-link">PFLAG New York
            City
            Website</a>
        </li>
      </ul>

      <div class="content-section__title">National</div>
      <ul class="content-section__list">
        <li class="content-section__list-item"><a href="https://www.thetrevorproject.org" target="_blank" class="content-section__text-link">The
            Trevor Project</a>
          <div class="content-section__list-item-description">
            Founded in 1998 by the creators of the Academy Award&reg;-winning short film TREVOR, The Trevor Project is
            the
            leading national organization providing crisis intervention and suicide prevention services to lesbian,
            gay, bisexual, transgender, queer & questioning (LGBTQ) young people under 25.
          </div>
          <a href="https://www.thetrevorproject.org" target="_blank" class="content-section__list-item-site-link">The
            Trevor Project
            Website</a>
        </li>
      </ul>
      <a href="#top" class="content-section__top-link">top</a>
    </div>
  </section>
  <br /><br />
</div>
