<div class="header-box">
  <div class="row row-no-margin u-padding-top-tiny">
    <div class="col-3-of-18">
      <a routerLink="/" routerLinkActive="active"><img src="images/pflag-rockland-logo.png" alt="" class="header__local-logo" /></a>
    </div>

    <div class="col-12-of-18">
      <nav class="navigation">
        <div class="navigation__upper-nav right-text">
          <ul class="navigation__upper-nav-list">
            <li class="navigation__upper-nav-item">
              <a routerLink="/" routerLinkActive="active" class="navigation__upper-nav-link">Home</a>
            </li>
            <li class="navigation__upper-nav-item">
              <a routerLink="/about" routerLinkActive="active" class="navigation__upper-nav-link">About PFLAG</a>
            </li>
            <li class="navigation__upper-nav-item">
              <a routerLink="/support" routerLinkActive="active" class="navigation__upper-nav-link">Support/Safe Spaces</a>
            </li>

            <li class="navigation__upper-nav-item">
              <a routerLink="/media" routerLinkActive="active" class="navigation__upper-nav-link">Media</a>
            </li>
            <li class="navigation__upper-nav-item">
              <a routerLink="/store" routerLinkActive="active" class="navigation__upper-nav-link">Store</a>
            </li>
            <li class="navigation__upper-nav-item">
              <a routerLink="/login" routerLinkActive="active" class="navigation__upper-nav-link">Login</a>
            </li>
          </ul>
        </div>
        <div class="navigation__lower-nav">
          <ul class="navigation__lower-nav-list">
            <li class="navigation__lower-nav-item">
              <a routerLink="/calendar" routerLinkActive="active" class="navigation__lower-nav-link">Calendar</a>
            </li>
            <li class="navigation__lower-nav-item">
              <a routerLink="/events" routerLinkActive="active" class="navigation__lower-nav-link">Events</a>
            </li>
            <li class="navigation__lower-nav-item">
              <a routerLink="/contact" routerLinkActive="active" class="navigation__lower-nav-link">Contact</a>
            </li>
            <li class="navigation__lower-nav-item">
              <a routerLink="/volunteer" routerLinkActive="active" class="navigation__lower-nav-link">Volunteer</a>
            </li>
            <li class="navigation__lower-nav-item">
              <a routerLink="/membership" routerLinkActive="active" class="navigation__lower-nav-link">Membership</a>
            </li>
            <li class="navigation__lower-nav-item">
              <a routerLink="/mailing-list" routerLinkActive="active" class="navigation__lower-nav-link">Mailing List</a>
            </li>
          </ul>
        </div>
      </nav>
    </div>

    <div class="col-3-of-18-thinner right-text">
      <img src="images/pflag-national-logo.png" alt="" class="header__national-logo" />
      <div class="header__donate-logo">
        <a routerLink="/donate" routerLinkActive="active" class="btn btn-donate btn-right">DONATE</a>
      </div>
    </div>
  </div>
</div>
