<div class="row">
  <h1 class="landing-page-title center-text">Contact Rockland PFLAG</h1>
</div>


<div class="row u-margin-btm-medium-plus">
  <div class="col-2-of-18">&nbsp;</div>

  <div class="col-14-of-18">
    <p class="display">If you have questions about Rockland PFLAG please either call us at</p>
    <div class="phone-number">(845) 353-6300</div>
    <p class="display">or email us at</p>
    <div class="email-address"><a href="mailto:info@rocklandpflag.org">info@rocklandpflag.org</a></div>

    <p class="display u-margin-top-medium-plus">If you have questions or concerns about our website, please
      email us at</p>
    <div class="email-address"><a href="mailto:webmaster@rocklandpflag.org">webmaster@rocklandpflag.org</a></div>
  </div>

  <div class="col-2-of-18">&nbsp;</div>
</div>
