<!-- About Block -->
<div class="row u-side-margins-small u-margin-btm-small">
  <div class="whats-happening-header">
    What&rsquo;s Happening at PFLAG of Rockland
  </div>
  <div class="col-1-of-4">
    <div class="whats-happening-block">
      <div class="whats-happening-block__title whats-happening-block__title--upcomming-events">Upcomming
        Events</div>
      <div class="whats-happening-block__image-box">
        <img src="images/upcomming-events.png" alt="" class="whats-happening-block__image">
      </div>
      <div class="whats-happening-block__story">
        <div class="whats-happening-block__story-title">Pearl River Day</div>
        <div class="whats-happening-block__story-date">October 6, 2018</div>
        <div class="whats-happening-block__story-text">We will be at Pearl River Day <span class="read-more"><a href="http://pearlriverny.org/pearl-river-day-2018/"
              target="_blank">read
              more&hellip;</a></span></div>
      </div>
      <div class="whats-happening-block__story">
        <div class="whats-happening-block__story-title">Rockland Pride Ball</div>
        <div class="whats-happening-block__story-date">October 13, 2018</div>
        <div class="whats-happening-block__story-text">Imagine this . . . visual delights curated
          by local artists under a vintage big top circus tent on the shores of Rockland Lake. Be
          greeted by fire breathers, acrobats, performers, decadent food & drink, and visual &
          audio delights you won’t soon forget. Join Ringmaster Carlo Pellegrini for the event of
          the year….indulge your fantasy. #FollowYourFire <span class="read-more"><a href="http://rocklandpridecenter.org/events/the-pride-ball/"
              target="_blank">read more&hellip;</a></span></div>
      </div>
    </div>
  </div>
  <div class="col-1-of-4">
    <div class="whats-happening-block">
      <div class="whats-happening-block__title whats-happening-block__title--in-the-news">In The News</div>
      <div class="whats-happening-block__image-box">
        <img src="images/in-the-news.png" alt="" class="whats-happening-block__image">
      </div>
      <div class="whats-happening-block__story">
        <div class="whats-happening-block__story-title">Rockland County Pride Center's gala is
          homegrown</div>
        <div class="whats-happening-block__story-date">October 2, 2018</div>
        <div class="whats-happening-block__story-text">Article about performers scheduled to be at
          the Pride Ball <span class="read-more"><a href="https://www.lohud.com/story/opinion/perspective/2018/10/02/rockland-pride-center-circus-gala/1457699002/"
              target="_blank">read more&hellip;</a></span></div>
      </div>
    </div>
  </div>
  <div class="col-1-of-4">
    <div class="whats-happening-block">
      <div class="whats-happening-block__title whats-happening-block__title--meetings">Meetings</div>
      <div class="whats-happening-block__image-box">
        <img src="images/meetings.png" alt="" class="whats-happening-block__image"></div>
      <div class="whats-happening-block__story">
        <div class="whats-happening-block__story-title">Parent&rsquo;s Support</div>
        <div class="whats-happening-block__story-date">1st Wednesday of the month &amp; 8pm</div>
        <div class="whats-happening-block__story-text">A support discussion group for
          parents, relatives, friends, and allies of people identifying as lesbian, gay,
          bisexual, transgender, non-binary, or queer.</div>
      </div>
      <div class="whats-happening-block__story">
        <div class="whats-happening-block__story-title">TRANS Parent Support Group</div>
        <div class="whats-happening-block__story-date">3rd Wednesday of the month</div>
        <div class="whats-happening-block__story-text">A support group specifically for the
          parents of trans, non-binary, and gender non-conforming youth. </div>
      </div>
    </div>
  </div>
  <div class="col-1-of-4">
    <div class="whats-happening-block">
      <div class="whats-happening-block__title whats-happening-block__title--survey">Survey</div>
      <div class="whats-happening-block__image-box">
        <img src="images/survey.png" alt="" class="whats-happening-block__image"></div>
      <div class="whats-happening-block__story">
        <div class="whats-happening-block__story-title --coming-soon">Coming Very Soon!</div>
      </div>
    </div>
  </div>
</div>
