.nested-row {
  display: block;
  @include clearfix;
}

.row {
  max-width: $grid-width;
  margin: 0 $row-margin-standard;


  &-no-margin {
    max-width: $grid-width;
    margin: 0;
  }

  &-full-width {
    max-width: 100%;
    margin: 0;
  }

  /* &:not(:last-child) {
    margin-bottom: $gutter-vertical;
  } */

  @include respond(phone) {
    margin: 0;
  }

  @include clearfix;

  [class^="col-"] {
    float: left;

    &:not(:last-child) {
      margin-right: $gutter-horizontal;
    }
  }


  .col-1-of-4 {
    width: calc((100% - 3 * #{$gutter-horizontal}) / 4);
  }

  .col-2-of-4 {
    width: calc(2 * ((100% - 3 * #{$gutter-horizontal}) / 4) + #{$gutter-horizontal});
  }

  .col-3-of-4 {
    width: calc(3 * ((100% - 3 * #{$gutter-horizontal}) / 4) + 2 * #{$gutter-horizontal});
  }

  .col-1-of-18 {
    width: calc((100% - 17 * #{$gutter-horizontal}) / 18);
  }

  .col-2-of-18 {
    width: calc(2 * ((100% - 17 * #{$gutter-horizontal}) / 18) + #{$gutter-horizontal});
  }

  .col-3-of-18 {
    width: calc((3 * ((100% - 17 * #{$gutter-horizontal}) / 18) + 2 * #{$gutter-horizontal}));
  }

  .col-3-of-18-thinner {
    width: calc(3 * ((100% - 17 * #{$gutter-horizontal}) / 18) + 0 * #{$gutter-horizontal});
  }

  .col-4-of-18 {
    width: calc(4 * ((100% - 17 * #{$gutter-horizontal}) / 18) + 3 * #{$gutter-horizontal});
  }

  .col-5-of-18 {
    width: calc(5 * ((100% - 17 * #{$gutter-horizontal}) / 18) + 4 * #{$gutter-horizontal});
  }

  .col-6-of-18 {
    width: calc(6 * ((100% - 17 * #{$gutter-horizontal}) / 18) + 5 * #{$gutter-horizontal});
  }

  .col-7-of-18 {
    width: calc(7 * ((100% - 17 * #{$gutter-horizontal}) / 18) + 6 * #{$gutter-horizontal});
  }

  .col-8-of-18 {
    width: calc(8 * ((100% - 17 * #{$gutter-horizontal}) / 18) + 7 * #{$gutter-horizontal});
  }

  .col-9-of-18 {
    width: calc(9 * ((100% - 17 * #{$gutter-horizontal}) / 18) + 8 * #{$gutter-horizontal});
  }

  .col-10-of-18 {
    width: calc(10 * ((100% - 17 * #{$gutter-horizontal}) / 18) + 9 * #{$gutter-horizontal});
  }

  .col-11-of-18 {
    width: calc(11 * ((100% - 17 * #{$gutter-horizontal}) / 18) + 10 * #{$gutter-horizontal});
  }

  .col-12-of-18 {
    width: calc(12 * ((100% - 17 * #{$gutter-horizontal}) / 18) + 11 * #{$gutter-horizontal});
  }

  .col-13-of-18 {
    width: calc(13 * ((100% - 17 * #{$gutter-horizontal}) / 18) + 12 * #{$gutter-horizontal});
  }

  .col-14-of-18 {
    width: calc(14 * ((100% - 17 * #{$gutter-horizontal}) / 18) + 13 * #{$gutter-horizontal});
  }

  .col-15-of-18 {
    width: calc(15 * ((100% - 17 * #{$gutter-horizontal}) / 18) + 14 * #{$gutter-horizontal});
  }

  .col-16-of-18 {
    width: calc(16 * ((100% - 17 * #{$gutter-horizontal}) / 18) + 15 * #{$gutter-horizontal});
  }

  .col-17-of-18 {
    width: calc(17 * ((100% - 17 * #{$gutter-horizontal}) / 18) + 16 * #{$gutter-horizontal});
  }

  .col-18-of-18 {
    max-width: $grid-width;
    width: 100%;
    margin: 0;
  }

}
